.App {
  text-align: center;
  background-image: linear-gradient(to right, rgba(160, 248, 152, 0.5), rgb(248, 126, 126));
}
.heading{
margin-bottom:40px;
padding: 10px;
height: 70px;
}
.playersList{
  border:1px solid rgb(207, 252, 166);
  border-radius: 5px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

 */
